$govuk-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/dist/govuk/base";
@import "partials/spinner";
@import "partials/summary";

.text-overflow{
    word-wrap: break-word;
}

.remove-end-whitespace{
    padding-bottom: govuk-spacing(0);
    margin-bottom: govuk-spacing(0);
}

body:not(.js-enabled) .js-enabled {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
}

.mdr-table-filename {
  word-break: break-all;
}

.mdr-width-file {
  width: 40%;
}

.mdr-width-uploaded {
  width: 20%;
}

.mdr-width-result {
  width: 18%;
}

.mdr-width-next {
  width: 22%;
}